body{
  background: #000;
  color: white;
}

.position{
  color: #b62ea6;
}
.contact{
  text-decoration: none;
}

.contact-icon{
  width: 50px;
  border-radius: 50px;
  text-decoration: none;

}
.contact-icon:hover{
  border:2px solid #8a2f7f;
  /* box-shadow:  7px 7px 16px #21c975,
  -18px -18px 36px #353b37; */
}
.programming-container{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card-container {
  padding: 20px;
  width: 120px;
  height: 110px;
  background: white;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text within the card */
  border-radius: 10px;
  /* box-shadow:  7px 7px 16px #21c975,
  -18px -18px 36px #353b37; */
}
.card-container:hover{
  box-shadow:  7px 7px 16px #21c975,
  -18px -18px 36px #353b37;
}
.programming-icon{
  width: 50px;
}
.html{
  width: 46px;
}
.sass{
  width: 60px;
}
.bootstap{
  width: 60px;
}
.typescript{
  width: 60px;
}
.node{
  width: 80px;
}

.education-container{
  gap: 20px;
}
.card-education{
  border-radius: 5px;
}
.experience-container{
  gap: 20px;
}
.card-experience{
  padding: 20px;
  border-radius: 5px;
}

.card-experience h4 a{
color: red;
}

.first-profile{
  display: none;
}
#profile{
  width: 50%;
  border: 3px solid teal;
}
.nav-item a{
  color: #48cae4;
}
.nav-item a:hover{
  color: #48cae4a1;
  border-bottom:1px solid #8a2f7f;

}
.programming{
  width: 50px;
}
.card-programming{
  padding: 20px;
  width: 120px;
  height: 110px;
  background: white;
  border-radius: 5px;
}
.contact-icon-footer{
  width: 35px;
  border-radius: 50px;
  text-decoration: none;
}
.contact-icon-footer:hover{
  border:1px solid #8a2f7f;
}

/* Styles for screens smaller than 600px */
@media (max-width: 768px) {
  h1{
    font-size: 2em;
  }
  .card-container {
    padding: 20px;
    width: 100px;
    height: 110px;
  }
  .title-card{
    font-size: 1em;
  }
  .first-profile{
    display: flex;
    justify-content: center;
  }
  #profile{
    width: 70%;
  }
  .second-profile{
    display: none;
  }
}
/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  h1{
    font-size: 2em;
  }
  .card-container {
    padding: 20px;
    width: 150px;
    height: 110px;
  }
  .title-card{
    font-size: 1em;
  }
  .first-profile{
    display: flex;
    justify-content: center;
  }
  .second-profile{
    display: none;
  }
}

/* Styles for screens larger than 900px */
@media (max-width: 428px) {
  .card-container {
    padding: 20px;
    width: 180px;
    height: 110px;
  }

}
@media (max-width: 394px) {
  .card-container {
    padding: 20px;
    width: 170px;
    height: 110px;
  }

}
@media (max-width: 376px) {
  .card-container {
    padding: 20px;
    width: 162px;
    height: 110px;
  }
  .programming-icon{
    width: 50px;
  }

}
@media (max-width: 360px) {
  .card-container {
    padding: 20px;
    width: 150px;
    height: 110px;
  }
}
@media (max-width: 320px) {
  .card-container {
    padding: 20px;
    width: 130px;
    height: 110px;
  }

}


   